@font-face{

    font-family: 'MuseoSans';
    
    src: url('../fonts/MuseoSans/MuseoSansCyrl-100.eot');
    
    src: url('../fonts/MuseoSans/MuseoSansCyrl-100.eot') format('eot'),
    
    url('../fonts/MuseoSans/MuseoSansCyrl-100.woff') format('woff'),
    
    url('../fonts/MuseoSans/MuseoSansCyrl-100.ttf') format('truetype'),
    
    url('../fonts/WebFont-Italic.svg#webfont') format('svg');
    
    font-weight: 100;
    
    font-style: normal;
    
}
@font-face{

    font-family: 'MuseoSans';
    
    src: url('../fonts/MuseoSans/MuseoSansCyrl-300.eot');
    
    src: url('../fonts/MuseoSans/MuseoSansCyrl-300.eot') format('eot'),
    
    url('../fonts/MuseoSans/MuseoSansCyrl-300.woff') format('woff'),
    
    url('../fonts/MuseoSans/MuseoSansCyrl-300.ttf') format('truetype'),
    
    url('../fonts/WebFont-Italic.svg#webfont') format('svg');
    
    font-weight: 300;
    
    font-style: normal;
    
}
@font-face{

    font-family: 'MuseoSans';
    
    src: url('../fonts/MuseoSans/MuseoSansCyrl-500.eot');
    
    src: url('../fonts/MuseoSans/MuseoSansCyrl-500.eot') format('eot'),
    
    url('../fonts/MuseoSans/MuseoSansCyrl-500.woff') format('woff'),
    
    url('../fonts/MuseoSans/MuseoSansCyrl-500.ttf') format('truetype'),
    
    url('../fonts/WebFont-Italic.svg#webfont') format('svg');
    
    font-weight: 500;
    
    font-style: normal;
    
}
@font-face{

    font-family: 'MuseoSans';
    
    src: url('../fonts/MuseoSans/MuseoSansCyrl-700.eot');
    
    src: url('../fonts/MuseoSans/MuseoSansCyrl-700.eot') format('eot'),
    
    url('../fonts/MuseoSans/MuseoSansCyrl-700.woff') format('woff'),
    
    url('../fonts/MuseoSans/MuseoSansCyrl-700.ttf') format('truetype'),
    
    url('../fonts/WebFont-Italic.svg#webfont') format('svg');
    
    font-weight: 700;
    
    font-style: normal;
    
}
